body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body#home {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}

div.fancytitle {
    font-size: 3em;
    position: absolute;
    top: 2em;
    left: 2em;
}

div.centerbox {
    position: relative;
    top: 15em;
    max-width: 500px;
    margin: 0 auto;
    color: black;
}

div.loginbox {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 0.5em;
    margin: 1em 0;
}

div.login_input {
    display: block;
}

span.titlebox {
    font-size: x-large;
    font-weight: bold;
    padding: 1em 0;
}

input, select{
    font-size: x-large;
    width: 70%;
    background-color: rgba(255,255,255,0.8);
    border: none;
    text-align: center;
}

div.loginbox select {
    margin-left: 0.1em;
    width: auto;
    max-width: 30%;
}

input[name="pin"] {
    width: inherit;
}

div.fake_button {
    height: 100%;
    border-radius: 0.2em;
    text-align: center;
}

button {
    border: none;
    border-radius: 0.2em;
    width: 100%;
}

span.right {
    padding-right: 0.2em;
}

button.confirm, div.fake_button{
    font-size: x-large;
    background-color: rgba(55,217,104,0.8);
    margin: 0.2em 0;
    padding: 0.2em 0;
}

div.chatbox {
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 0.5em;
}

#send {
    margin-top: 0.5em;
    width: 100%;
    border-radius: 0.2em;
    text-align: left;
}

div.textElements {
    position: relative;
    margin-top: 0.5em;
}

div.textElements progress, input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: none;
    height: 0.1em
}

progress::-webkit-progress-value {
    background-color: rgb(255,0,0);
}

progress::-webkit-progress-bar {
    background-color: rgba(255,0,0,0);
}